.cursor-pointer {
  cursor: pointer;
}

.sidebar {
  height: calc(100vh - 56px);
  /* overflow-y: auto; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 56px;
}

.navbar-brand a, .sidebar-nav a {
  text-decoration: none;
  color: #fff;
}

.sidebar-nav a {
  color: black;
}

.sidebar-nav a:hover {
  background-color: #c2c2c2;
  border-radius: 3px;
}

.spin {
  animation: spin 2s infinite linear;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}